<!DOCTYPE html>
<html>
<head>
    <title>PicShare</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>My Gallery</h1>
    <div class="gallery">
        <% photos.forEach(photo => { %>
            <div class="photo">
                <img src="<%= photo.imageUrl %>" alt="<%= photo.title %>" height="300px" width="200px">
                <h3>Title: <%= photo.title %></h3>
                <p>Description: <%= photo.description %></p>
            </div>
        <% }) %>
    </div>
    <button><a href="/upload">Upload a Photo</a></button>
</body>
</html>
